extends layout.pug 

block head
    link(rel="stylesheet", herf="/country.css")

block content
    h2 Cities 
    table
        thead
            th.text-center Code
            th Name   
            th Continent  
        tbody 
            each row in rows 
                tr 
                    td.fit  #{row.Code}
                    td  #{row.Name}
                    td #{continent}