extends layout.pug
block head
  link(rel="stylesheet", href="/landing.css")


block content
  .landing-header
    h1 Welcome to Data Populus 
    nav
      ul
        li 
          a(href="/Meet-Our-Team") Meet-Our-Team
        li
          a(href="/subscription-plans") subscription-plans
        li
          a(href="/login") Login
        li
          a(href="/register") Register
    div.landing-description
      h2 About Our Website
      p Hello and Welcome to Data Populas. We are a cutting edge high tech team of experts working on a collaborative project to create a website with excellent data analytics tools and Revolutionary Algorithms! 
      p You know what makes us special? If you're guessing that its our amazing tech minds and our breathtaking and ground breaking algorithms that help users find their data quickly and easily, well, you are close enough! 
      p The reason why Data Populus is so special is because we simply do not charge money from individuals that would not be making any financial gain from using our website.
      p This means that Students can use this website free of costs to complete their analysis and research without having the burden to pay more money or cancel the 7 day free trials! 
      p As for you professional individuals, we can assure you that you would have access to a number of advanced features which would not be included in the student version. 
    .landing-About 
      h2 Contact Us
      p If you have any questions or suggestions, please feel free to contact us at:
      p Email: admin1x_datapopulus@proton.me
