extends layout.pug 

block head
    link(rel="stylesheet", href="/language.css")

block content
    h2 Cities 
    table
        thead
            th.text-center Code
            th Language 
            th.number Percentage 
        tbody 
            each row in rows 
                tr 
                    td.fit  #{row.CountryCode}
                    td  #{row.Language}
                    - const percentage = new Intl.NumberFormat().format(row.Percentage)
                    td.fit.number #{percentage}
