extends layout.pug 

block head
    link(rel="stylesheet", herf="/language.css")

block content
    h2 Languages 
    table
        thead
            th.text-center Code
            th.text-center Language 
            th Percentage 
        tbody 
            each row in rows 
                tr 
                    td.fit  #{row.CountryCode}
                    td.fit  #{row.Language}
                    td.fit  #{row.Percentage}