block head
  link(rel="stylesheet", href="/meet.css")

.team-container
  .team-member
    
    h3 Manav Doshi
    p Scrum Master
  .team-member
    
    h3 Mehraj Gaud
    p Product Owner
  .team-member
    
    h3 Neel Jain
    p Developer
  .team-member
    
    h3  Praj Patel
    p Developer
  .team-member
    
    h3 Awaiz Mohommad
    p Developer
