doctype html
html(lang="en")
  head
    title Available Plans
  h1 Available Plans
  body
  p Data Populus is one of the cheapest yet most efficient data analysis tool in the market. However, since we are relatively new to the other tools,
  p we have decided that everyone would get access to the professional features of the tool for the first month so they can get adapted to the interface.
  p After the first month, we will ask you to choose from one of these plans below: 

  p Please also note that we would need to verify your student status so please upload your student status letter and sign up with a university email.
    
        h2 Student Plan (£0/month)
        
        ul
          li Unlimited access to all courses
          li Monthly Q&A sessions with instructors
          li 24/7 email support
          li Cancel anytime
      
        
        
      
        h2 Professional Plan (£19.99/month)
         
        ul
          li All the features of the Student Plan
          li Access to exclusive professional development content
          li Personalized career coaching
          li Priority support
        
